@font-face {
  font-family: "Bai Jamjuree";
  src: url(../public/fonts/Bai_Jamjuree/BaiJamjuree-Bold.ttf);
}
@font-face {
  font-family: "Kanit";
  src: url(../public/fonts/Kanit/Kanit-Regular.ttf);
}
@font-face {
  font-family: "Play";
  src: url(../public/fonts/Play/Play-Regular.ttf);
}
.navbar-brand,
.section-header,
#home h1 {
  font-family: "Bai Jamjuree";
}

#about .about-paragraph,
#home h3 {
  font-family: "Kanit";
}

.nav-link,
#home h2 {
  font-family: "Play";
}

body {
  background-color: #12233e;
}

a {
  text-decoration: none;
}
a:visited {
  color: #00b6ff;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #214277;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #64ffda;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #24957a;
}

.navbar-header {
  min-height: 100px;
  width: 100%;
  position: fixed;
  display: flex;
  background-color: #0a192f;
  z-index: 99999;
}
.navbar-header a, .navbar-header ul, .navbar-header li {
  color: #ffffff;
}
.navbar-header .navbar-brand {
  font-size: 1.5rem;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
.navbar-header .navbar-toggler {
  color: white;
  border: 3px solid white;
  font-size: 1.5rem;
}
.navbar-header .nav-link {
  font-size: 1rem;
}
.navbar-header .navbar-brand:hover, .navbar-header .nav-link:hover {
  color: #00b6ff;
}
.navbar-header .navbar-brand.active, .navbar-header .nav-link.active {
  color: #64ffda;
}
.navbar-header .nav-item {
  min-width: 80px;
}

.main-container {
  min-height: 100vh;
  color: #ffffff;
  padding-top: 100px;
}
.main-container .page-section {
  min-height: 635px;
  padding-top: 100px;
}
.main-container .page-section .section-header {
  margin-bottom: 1.5rem;
}
.main-container .page-section .section-header .header-content {
  font-size: 2rem;
  padding-bottom: 3px;
  border-bottom: 3px solid #64ffda;
}

.navbar-footer {
  position: relative;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  background-color: #12233e;
  color: #ffffff;
  padding: 20px;
  border-top: 2px solid #64ffda;
  z-index: 99999;
}

.link-bullet {
  color: #00b6ff;
}

.btn-outline {
  background: none;
  color: #64ffda;
  border: 1px solid #64ffda;
  padding: 10px 15px;
  border-radius: 5px;
}
.btn-outline:hover {
  background: #24957a;
}

.themed-link {
  color: #00b6ff;
}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.image-container img {
  height: 100%;
  width: 100%;
}
.image-container.image-skills {
  max-width: 50%;
}

/* CSS Ruleset for Home section */
#home h1 {
  font-size: 4rem;
  padding-top: 10rem;
}
#home h2 {
  font-size: 2rem;
}
#home h3 {
  font-size: 1.5rem;
  padding-top: 3rem;
}
#home .home-header {
  text-align: center;
}

/* CSS Ruleset for Home section */
/* CSS Ruleset for About section */
#about .about-paragraph {
  font-size: 1.2rem;
  margin: 0px;
}
#about .about-skills {
  padding: 5px;
  background-color: #0a192f;
}

/* CSS Ruleset for About section */
/* CSS Ruleset for Experience section */
#experience .experience-timeline .timeline-title {
  margin: 0px;
}
#experience .experience-timeline .timeline-subtitle {
  margin: 0px;
  color: #ffffff;
  font-size: 1rem;
}
#experience .experience-timeline .timeline-list .timeline-listitem {
  font-size: 1.12rem;
}

/* CSS Ruleset for Experience section */

/*# sourceMappingURL=globals.css.map */
